
.board {
display: grid;
grid-template-columns: repeat(4, 60px);
}
.cell {
width: 60px;
height: 60px;
}
.black {
background: black;
}
.white {
background: white;
border: 1px solid #ccc;
}
